.stack.twisted:after,
.stack.twisted:before{
  display:block;
}
/*Image Stack Styling*/
.stack { position: relative; z-index: 10; }

/* Image styles */
.stack img { max-width: 150%; height: auto; vertical-align:top; border: 10px solid #fff; border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

}

/* Stacks creted by the use of generated content */
.stack:before, .stack:after { content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fff; left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    background: #f5f5f5 !important;
}
.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */

/* Third stack example (One stack element rotated in the opposite direction) */
.stack.twisted:before {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
}
.stack.twisted:after {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

/* Reset all rotations on hover */
.stack:hover:before, .stack:hover:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}


.da-slider{
  width: 100%;
  min-width: 520px;
  height: 370px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  background: transparent url(../images/waves.gif) repeat 0% 0%;*/
  border-top: 8px solid #5C574D;
  border-bottom: 8px solid #5C574D;
z-index: 3;
  -webkit-transition: background-position 1.4s ease-in-out 0.3s;
  -moz-transition: background-position 1.4s ease-in-out 0.3s;
  -o-transition: background-position 1.4s ease-in-out 0.3s;
  -ms-transition: background-position 1.4s ease-in-out 0.3s;
  transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: left;
}
.da-slide-current{
  z-index: 10;
}
.da-slider-fb .da-slide{
  left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
  left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img,
.da-slide .da-logo,
.da-slide .da-bg{
  position: absolute;
  opacity: 0;
  left: 110%;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link,
.da-slider-fb .da-slide .da-logo,
.da-slider-fb .da-slide .da-bg{
  left: 55%;
  opacity: 1;
}

.ie .da-slider-fb .da-slide .da-bg{
  left: 0;
}

.da-slider-fb .da-slide .da-img{
  left: 2%;
  opacity: 1;

}

.ie .da-slider-fb .da-slide .da-img{
  left: 25%;
  opacity: 1;

}

.da-slide h2{
  color: #fff;
  font-size: 66px;
  width: 50%;
  top: 60px;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-weight: 700;
  z-index:10;
}



.da-slide p{
  width: 30%;
  top: 155px;
  color: #FFF;
  font-size: 18px;
  line-height: 26px;
  height: 80px;
  overflow: hidden;
  font-style: italic;
  font-weight: 400;

  z-index:10;
}

.da-slide .da-bg{
  width: 100%;
  top: 0;
  height: 100%;
  z-index:1;


}

.da-slide .da-logo{

  top: 5px;
  color: #916c05;

  z-index:999;

}

.da-slide .da-img{
  text-align: center;
  width: 40%;
  top:20px;
  height: 300px;
  left: 110%; /*55%*/
  z-index:12;
}

.da-slide .da-bg img{
width: 100%;
height: auto;
}

.da-slide .da-link{
  top: 270px; /*depends on p height*/
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding: 2px 20px 0px;
  font-size: 18px;
  line-height: 30px;
  width: 80px;
  text-align: center;
    z-index:10;

}
.da-slide .da-link:hover{
  background: rgba(255,255,255,0.3);
}
.da-dots{
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 0px;
  z-index: 200;
  -moz-user-select: none;
  -webkit-user-select: none;

}
.da-dots span{
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #B6AA8C;
  margin: 3px;
  cursor: pointer;
  box-shadow:
    1px 1px 1px rgba(0,0,0,0.1) inset,
    1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
  -moz-user-select: none;
  -webkit-user-select: none;
}
.da-arrows span{
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #5C574D;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  box-shadow:
    1px 1px 1px rgba(0,0,0,0.1) inset,
    1px 1px 1px rgba(255,255,255,0.1);
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s;
}
.da-slider:hover .da-arrows span{
  opacity: 1;
}
.da-arrows span:after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  background: transparent url(../images/arrows.png) no-repeat top left;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
  box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
  background-position: top right;
}
.da-arrows span.da-arrows-prev{
  left: 15px;
}
.da-arrows span.da-arrows-next{
  right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link,
.da-slide-current .da-logo{
  left: 55%;
  opacity: 1;
  z-index:99
}

.da-slide-current .da-bg{
  left: 0;
  opacity: 1;
  z-index: 1;
  z-index:1;
  position: absolute;
}

.da-slide-current .da-img{
  left: 25%;
  opacity: 1;

}

.da-logo{
  border: 6px solid #fff;
  border-radius: 3px;
  background-color: white;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
margin-left: -220px !important;

}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2,
.da-slide-fromright .da-logo{
  -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright p{
  -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-link{
  -webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright .da-img{
  -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  animation: fromRightAnim4 0.6s ease-in 0.8s both;
}

.da-slide-fromright .da-bg{
  -webkit-animation: fromRightAnim5 1s ease-in 1s both;
  -moz-animation: fromRightAnim5 1s ease-in 1s both;
  -o-animation: fromRightAnim5 1s ease-in 1s both;
  -ms-animation: fromRightAnim5 1s ease-in 1s both;
  animation: fromRightAnim5 1s ease-in 1s both;
}

@-webkit-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-webkit-keyframes fromRightAnim5{
  0%{ left: 100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-moz-keyframes fromRightAnim5{
  0%{ left: 100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-o-keyframes fromRightAnim5{
  0%{ left: 100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-ms-keyframes fromRightAnim5{
  0%{ left: 100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}
@keyframes fromRightAnim5{
  0%{ left: 100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2,
.da-slide-fromleft .da-logo
{
  -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft p{
  -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-link{
  -webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft .da-img{
  -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}

.da-slide-fromleft .da-bg{
  -webkit-animation: fromLeftAnim5 1s ease-in 1s both;
  -moz-animation: fromLeftAnim5 1s ease-in 1s both;
  -o-animation: fromLeftAnim5 1s ease-in 1s both;
  -ms-animation: fromLeftAnim5 1s ease-in 1s both;
  animation: fromLeftAnim5 1s ease-in 1s both;
}


@-webkit-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-webkit-keyframes fromLeftAnim5{
  0%{ left: -100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim5{
  0%{ left: -100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}

@-o-keyframes fromLeftAnim5{
  0%{ left: -100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim5{
  0%{ left: -100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

@keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 55%; opacity: 1; }
}
@keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 20%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 25%; opacity: 1; }
}
@keyframes fromLeftAnim5{
  0%{ left: -100%; opacity: 1; }
  100%{ left: 0; opacity: 1; }
}

/* Slide out to the right */
.da-slide-toright h2,
.da-slide-toright .da-logo{
  -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
  animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright p{
  -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
  animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-link{
  -webkit-animation: toRightAnim3 0.4s ease-in both;
  -moz-animation: toRightAnim3 0.4s ease-in both;
  -o-animation: toRightAnim3 0.4s ease-in both;
  -ms-animation: toRightAnim3 0.4s ease-in both;
  animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-img{
  -webkit-animation: toRightAnim4 0.6s ease-in both;
  -moz-animation: toRightAnim4 0.6s ease-in both;
  -o-animation: toRightAnim4 0.6s ease-in both;
  -ms-animation: toRightAnim4 0.6s ease-in both;
  animation: toRightAnim4 0.6s ease-in both;
}

.da-slide-toright .da-bg{
  -webkit-animation: toRightAnim5 1s ease-in 1s both;
  -moz-animation: toRightAnim5 1s ease-in 1s both;
  -o-animation: toRightAnim5 1s ease-in 1s both;
  -ms-animation: toRightAnim5 1s ease-in 1s both;
  animation: toRightAnim5 1s ease-in 1s both;
}

@-webkit-keyframes toRightAnim1{
  0%{ left: 55%;  opacity: 1; }
  30%{ left: 50%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
  0%{ left: 20%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
  0%{ left: 25%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-webkit-keyframes toRightAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: 100%; opacity: 1; }
}

@-moz-keyframes toRightAnim1{
0%{ left: 55%;  opacity: 1; }
30%{ left: 50%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
  0%{ left: 20%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
  0%{ left: 25%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim5{
  0%{ left: 0%;  opacity: 1; }
  100%{ left: 100%; opacity: 1; }
}

@-o-keyframes toRightAnim1{
0%{ left: 55%;  opacity: 1; }
30%{ left: 50%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
  0%{ left: 20%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
  0%{ left: 25%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: 100%; opacity: 1; }
}

@-ms-keyframes toRightAnim1{
0%{ left: 55%;  opacity: 1; }
30%{ left: 50%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
  0%{ left: 20%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
  0%{ left: 25%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: 100%; opacity: 1; }
}

@keyframes toRightAnim1{
0%{ left: 55%;  opacity: 1; }
30%{ left: 50%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
  0%{ left: 20%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
  0%{ left: 25%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: 100%; opacity: 1; }
}

/* Slide out to the left*/
.da-slide-toleft h2,
.da-slide-toleft .da-logo{
  -webkit-animation: toLeftAnim1 0.6s ease-in both;
  -moz-animation: toLeftAnim1 0.6s ease-in both;
  -o-animation: toLeftAnim1 0.6s ease-in both;
  -ms-animation: toLeftAnim1 0.6s ease-in both;
  animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft p{
  -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-link{
  -webkit-animation: toLeftAnim3 0.4s ease-in both;
  -moz-animation: toLeftAnim3 0.4s ease-in both;
  -o-animation: toLeftAnim3 0.4s ease-in both;
  -ms-animation: toLeftAnim3 0.4s ease-in both;
  animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft .da-img{
  -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  animation: toLeftAnim4 0.6s ease-in 0.6s both;
}

.da-slide-toleft .da-bg{
  -webkit-animation: toLeftAnim5 1s ease-in 1s both;
  -moz-animation: toLeftAnim5 1s ease-in 1s both;
  -o-animation: toLeftAnim5 1s ease-in 1s both;
  -ms-animation: toLeftAnim5 1s ease-in 1s both;
  animation: toLeftAnim5 1s ease-in 1s both;

}

@-webkit-keyframes toLeftAnim1{
  0%{ left: 55%;  opacity: 1; }
  30%{ left: 65%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
  0%{ left: 20%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
  0%{ left: 25%;  opacity: 1; }
  40%{ left: 25%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-webkit-keyframes toLeftAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: -100%; opacity: 1; }
}

@-moz-keyframes toLeftAnim1{
  0%{ left: 55%;  opacity: 1; }
  30%{ left: 65%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
  0%{ left: 20%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
  0%{ left: 25%;  opacity: 1; }
  40%{ left: 70%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: -100%; opacity: 1; }
}

@-o-keyframes toLeftAnim1{
  0%{ left: 55%;  opacity: 1; }
  30%{ left: 65%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
  0%{ left: 20%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
  0%{ left: 25%;  opacity: 1; }
  40%{ left: 25%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: -100%; opacity: 1; }
}



@-ms-keyframes toLeftAnim1{
  0%{ left: 55%;  opacity: 1; }
  30%{ left: 65%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
  0%{ left: 20%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
  0%{ left: 25%;  opacity: 1; }
  40%{ left: 25%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim5{
  0%{ left: 0%;  opacity: 1; }
  100%{ left: -100%; opacity: 1; }
}

@keyframes toLeftAnim1{
  0%{ left: 55%;  opacity: 1; }
  30%{ left: 65%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
  0%{ left: 20%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
  0%{ left: 20%;  opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
  0%{ left: 25%;  opacity: 1; }
  40%{ left: 25%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim5{
  0%{ left: 0;  opacity: 1; }
  100%{ left: -100%; opacity: 1; }
}

